@{
    ViewBag.Title = "Add To Do";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <p class="card-text">Add a title for your to do...</p>
            <h5 class="card-title"><input class="input-group-text" placeholder="Add title" /></h5>
        </div>        
        <ul class="list-group list-group-flush">
            <textarea type="text" placeholder="Add description"></textarea>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</body>
</html>
